<div id = "displayResults">
</div>

<table class = "user_list_table" align='center' border = '1'>
<tr>
	<th>
		S.NO
	</th>
	<th>
		NAME
	</th>
	<th>
		BLOOD GROUP
	</th>
	<th>
		GENDER
	</th>
	<th>
		EMAIL
	</th>
	<th>
		CONTACT NUMBER
	</th>
	<th>
		AREA OF INTEREST
	</th>
	<th>
		GRADUATION DETAILS
	</th>
</tr>

	{% for item in results %}
	<tr>
		<td>
			{{ item.id }}
			
		</td>
		<td>
			{{ item.getFirstName }}
		</td>

		<td>
			{{ item.getBloodGroup }}
		</td>
		
		<td>
			{{ item.getGender }}
		</td>

		
		<td>
			{% for items in item.getEmailId %}
				<ul style = "list-style-type:none">
					<li style = "display:block"> {{ items.getEmailId }} </li>
				</ul>
			{% endfor %}
		</td>

		<td>
			{% for items in item.getContactNumber %}
				<ul style = "list-style-type:none">
					<li style = "display:block"> {{ items.getContactNumber }} </li>
				</ul>
			{% endfor %}
		</td>

		<td>
			{% for items in item.getInterest %}
				<ul style = "list-style-type:none">
					<li style = "display:block"> {{ items.getInterest }} </li>
				</ul>
			{% endfor %}
		</td>

		<td>
			{% for items in item.getGraduationType %}
				<ul style = "list-style-type:none">
					<li style = "display:block"> {{ items.getGraduation }} </li>
				</ul>
			{% endfor %}
		</td>
		

		<td>
			<input type = "button" class = "view_user" id = "view_list" value = "View" onclick = "location.href = '{{ path('view_user', { 'id': item.getId }) }} '">  
		</td>
		<td>
			<input type = "button" class = "edit_user" id = "edit_list" value = "Edit" onclick = "location.href = '{{ path('edit_user', { 'id': item.getId }) }}'">
		</td>
	</tr>
	{% endfor %}
	
</table>
{% if max > 1 %}
  <div style="text-align:center;">
    <div class="menu">
      <a      {% if current > 1 %}
        href="{{ path('list_user', {'page': (current - 1)}) }}"
      {% endif %}>
        &lt;
      </a>

      {% for i in 1..max %}
        <a href="{{ path('list_user', {'page': i}) }}">
            {{  i }}
        </a>
      {% endfor %}
			
      <a 
		  {% if current < max %}
		    href="{{ path('list_user', {'page': (current + 1)}) }}"
		  {% endif %}>
        &gt;
      </a>
    </div>
  </div>
  {% endif %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">

function changePagination(page){
    $.ajax({
        type: "POST",
        url: Routing.generate("list_user"),
        data: { "page" : page },
        cache: false,
        success: function(result){
        	console.log(result);
            var elem =  document.getElementById('displayResults');
            elem.innerHTML = "";
            elem.innerHTML = result;
        }
    });
}

</script>