{{ form_start(form) }} 
	
<table>
	<tr>
		<td>
			<b>{{ form_label(form.first_name,'First Name') }} </b>
		</td>
		<td>
			{{ form_widget(form.first_name) }}
			<span> 
				<small>
					{{ form_errors(form.first_name) }}					
				</small>
			</span>
		</td>
	</tr>


<tr>
	<td>
		<b>{{ form_label(form.last_name, 'Last Name ') }}</b>
	</td>
	<td>
		{{ form_widget(form.last_name) }}
		<small>
			{{ form_errors(form.last_name) }} 
		</small>
	</td>
</tr>

<tr>
	<td> 
		<b>{{ form_label(form.date_of_birth, 'Date of Birth') }}</b>
	</td>
	<td> 
		{{ form_widget(form.date_of_birth) }}
		<small> 
			{{ form_errors(form.date_of_birth) }} 
		</small> 
	</td>
</tr>

<tr>
	<td> 
		<b>{{ form_label(form.gender, 'Gender') }}</b>
	</td>
	<td> 
		{{ form_widget(form.gender) }}
		<small> 
		 	{{ form_errors(form.gender) }} 
		</small> 
	</td>
</tr>

<tr>
	<td> 
		<b>{{ form_label(form.emailId,'Email Ids') }} </b>
	</td>
	<td>
		<ul id="email-fields-list" data-prototype="{{ form_widget(form.emailId.vars.prototype)|e }}">
		{% for emailField in form.emailId %}
			<li style = 'list-style-type:none'>
				{{ form_widget(emailField) }}
				<small>
					{{ form_errors(emailField) }}
				</small>
			</li>
		{% endfor %}
		</ul> 
	</td>
</tr>

<tr>
	<td colspan = 2>  
		<input type = "button" id = "add-email-field" value = "+" onclick = "addField('email-fields-list', 'add-email-field' )" >
	
	</td>	
</tr>

<tr>
	<td> 
		<b>{{ form_label(form.contactNumber,'Mobile Number') }} </b>
	</td>
	<td> 
		<ul id="mobile-fields-list" data-prototype="{{ form_widget(form.contactNumber.vars.prototype)|e }}">
		{% for mobileField in form.contactNumber %}
			<li style = 'list-style-type:none'>
				{{ form_widget(mobileField) }}
				<small> 
					{{ form_errors(mobileField) }} 
				</small>
			</li>
		{% endfor %}
		</ul> 
	</td>
</tr>

<tr>
	<td colspan = 2> 
		<input type = "button" id = "add-mobileno-field" value = "+" onclick = "addField('mobile-fields-list', 'add-mobileno-field' )">
		
	</td>	
</tr>


<tr>
	<td> 
		<b>{{ form_label(form.bloodGroup, 'Blood Group') }}</b>
	</td>
	<td> 
		{{ form_widget(form.bloodGroup) }} 
		<small> 
			{{ form_errors(form.bloodGroup) }}
		</small> 
	</td>
</tr>

<tr>
	<td> 
		<b>{{ form_label(form.interest,'Area of Interest') }} </b>
	</td>
	<td> 
		<ul id="interest-fields-list" data-prototype="{{ form_widget(form.interest.vars.prototype)|e }}">
		{% for interestField in form.interest %}
			<li style = 'list-style-type:none'>
				{{ form_widget(interestField) }}
				<small> 
					{{ form_errors(interestField) }} 
				</small>
			</li>
		{% endfor %}
		</ul> 
	</td>
</tr>


<tr>
	<td colspan = 2> 
		<input type = "button" id = "add-interest-field" value = "+" onclick = "addField('interest-fields-list', 'add-interest-field' )" >
	
	</td>	
</tr>

<tr>
	<td> 
		<b>{{ form_label(form.graduationType,'Graduation') }} </b>
	</td>
	<td> 
		<ul id="graduation-fields-list" data-prototype="{{ form_widget(form.graduationType.vars.prototype)|e }}">
		{% for graduationField in form.graduationType %}
			<li style = 'list-style-type:none'>
				{{ form_widget(graduationField) }}
				<small> 
					{{ form_errors(graduationField) }} 
				</small>
			</li>
		{% endfor %}
		</ul> 
	</td>
</tr>


<tr>
	<td colspan = 2> 
		<input type = "button" id = "add-graduation-field" value = "+" onclick = "addField('graduation-fields-list', 'add-graduation-field' )" >
	
	</td>	
</tr>



</table>

{{ form_end(form) }}


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript">
    
    var newLi, input, newWidget,fieldName,fieldId, fieldList, fieldCount ;


    function createField()
    {
    	newLi = document.createElement('li');
        newLi.setAttribute('style','list-style-type:none');
    }

    function inputField()
    {	
    	input = document.createElement("input");
    	input.setAttribute("type", "button");
		input.setAttribute("value", "-");
		input.setAttribute("style", "display:inline");
    }
 	
 	function addField(name, id)
 	{
 		fieldName = name;
 		fieldId = id;
 		newLi = input = newWidget = '';
   		fieldList = document.getElementById(fieldName);
   		fieldCount = fieldList.children.length;
   		newWidget = fieldList.getAttribute('data-prototype');
   		newWidget = newWidget.replace(/__name__/g, fieldCount);
   		console.log(newWidget);
   		fieldId = fieldId.replace("add","remove");
        console.log(fieldCount);
        createField();
	    newLi.innerHTML = newWidget;
        if(fieldCount) {
  	        inputField();
			input.setAttribute("id", fieldId);
			input.setAttribute("onclick", "removeField(fieldName, fieldId)");
			newLi.appendChild(input);
        }
        fieldCount++;
        fieldList.appendChild(newLi);

 	}
 	function removeField(fieldName, fieldId)
 	{
 		fieldList = document.getElementById(fieldName); 
 		fieldCount = fieldList.children.length;		
        fieldCount--;
        console.log(newWidget);
        console.log(fieldCount);
       	var item = fieldList.lastChild;
       	fieldList.removeChild(item);
 	}
   	

	
</script>
 