{{ form_start(form) }} 
	
<table>
	<tr>
		<td>
			<b>{{ form_label(form.first_name,'First Name') }} </b>
		</td>
		<td>
			{{ form_widget(form.first_name) }}
			<span> 
				<small>
					{{ form_errors(form.first_name) }}					
				</small>
			</span>
		</td>
	</tr>


<tr>
	<td>
		<b>{{ form_label(form.last_name, 'Last Name ') }}</b>
	</td>
	<td>
		{{ form_widget(form.last_name) }}
		<small>
			{{ form_errors(form.last_name) }} 
		</small>
	</td>
</tr>

<tr>
	<td> 
		<b>{{ form_label(form.date_of_birth, 'Date of Birth') }}</b>
	</td>
	<td> 
		{{ form_widget(form.date_of_birth) }}
		<small> 
			{{ form_errors(form.date_of_birth) }} 
		</small> 
	</td>
</tr>

<tr>
	<td> 
		<b>{{ form_label(form.gender, 'Gender') }}</b>
	</td>
	<td> 
		{{ form_widget(form.gender) }}
		<small> 
		 	{{ form_errors(form.gender) }} 
		</small> 
	</td>
</tr>

<tr>
	<td> 
		<b>{{ form_label(form.emailId,'Email Ids') }} </b>
	</td>
	<td>
		<ul id="email-fields-list" data-prototype="{{ form_widget(form.emailId.vars.prototype)|e }}">
		{% for emailField in form.emailId %}
			<li style = 'list-style-type:none'>
				{{ form_widget(emailField) }}
				<small>
					{{ form_errors(emailField) }}
				</small>
			</li>
		{% endfor %}
		</ul> 
	</td>
</tr>

<tr>
	<td> 
		<input type = "button" id = "add-another-email" value = "+" >
		<input type = "button" id = "remove-another-email" value = "-" >	
	</td>	
</tr>

<tr>
	<td> 
		<b>{{ form_label(form.contactNumber,'Mobile Number') }} </b>
	</td>
	<td> 
		<ul id="mobile-fields-list" data-prototype="{{ form_widget(form.contactNumber.vars.prototype)|e }}">
		{% for mobileField in form.contactNumber %}
			<li style = 'list-style-type:none'>
				{{ form_widget(mobileField) }}
				<small> 
					{{ form_errors(mobileField) }} 
				</small>
			</li>
		{% endfor %}
		</ul> 
	</td>
</tr>

<tr>
	<td> 
		<input type = "button" id = "add-another-mobile-no" value = "+" >
		<input type = "button" id = "remove-another-mobile-no" value = "-" >	
	</td>	
</tr>


<tr>
	<td> 
		<b>{{ form_label(form.bloodGroup, 'Blood Group') }}</b>
	</td>
	<td> 
		{{ form_widget(form.bloodGroup) }} 
		<small> 
			{{ form_errors(form.bloodGroup) }}
		</small> 
	</td>
</tr>

<tr>
	<td> 
		<b>{{ form_label(form.interest,'Area of Interest') }} </b>
	</td>
	<td> 
		{{ form_row(form.interest) }}
	</td>
</tr>



</table>

{{ form_end(form) }}


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript">

    var emailCount = '{{ form.emailId|length }}';
    var mobileCount = '{{ form.contactNumber|length  }}';
    var newLi;

    function createField()
    {
    	newLi = document.createElement('li');
        newLi.setAttribute('style','list-style-type:none');
    }
   
   	function addEmail() 
   	{
   		
   		var emailList = document.getElementById('email-fields-list');
   		
   		var newWidget = emailList.getAttribute('data-prototype');
   		
   		newWidget = newWidget.replace(/__name__/g, emailCount);
        console.log(newWidget);
        emailCount++;
        createField();
        newLi.innerHTML = newWidget;
        emailList.appendChild(newLi);
   	}

   	function removeEmail() 
   	{
 
   		var emailList = document.getElementById('email-fields-list');
   		console.log(emailList);
   		
        emailCount--;

       	var item = emailList.lastChild;
       	console.log(item);
       	emailList.removeChild(item);
   	}

   	function addMobileNO() 
   	{
   		
   		var mobileList = document.getElementById('mobile-fields-list');
   		
   		var newWidget = mobileList.getAttribute('data-prototype');
   		
   		newWidget = newWidget.replace(/__name__/g, mobileCount);
        console.log(newWidget);
        mobileCount++;
        createField();
      
        newLi.innerHTML = newWidget;
        mobileList.appendChild(newLi);
   	}

   	function removeMobileNO() 
   	{
 
   		var mobileList = document.getElementById('mobile-fields-list');
   		console.log(mobileList);
   		
        mobileCount--;

       	var item = mobileList.lastChild;
       	console.log(item);
       	mobileList.removeChild(item);
   	}

	document.getElementById("add-another-email").addEventListener("click",addEmail);
	document.getElementById("remove-another-email").addEventListener("click",removeEmail);

	document.getElementById("add-another-mobile-no").addEventListener("click",addMobileNO);
	document.getElementById("remove-another-mobile-no").addEventListener("click",removeMobileNO);


   
</script>
 