{{ form_start(form) }} 
<table>
<tr>
	<td>
		<b>{{ form_label(form.firstName,'First Name') }} </b>
	</td>
	<td>
		{{ form_widget(form.firstName) }}
		<span> 
			<span style = "list-style-type: none; display: inline-block;">
				{{ form_errors(form.firstName) }}					
			</span>
		</span>
	</td>
</tr>
<tr>
	<td>
		<b>{{ form_label(form.lastName, 'Last Name ') }}</b>
	</td>
	<td>
		{{ form_widget(form.lastName) }}
		<span style = "list-style-type: none; display: inline-block;">
			{{ form_errors(form.lastName) }} 
		</span>
	</td>
</tr>

<tr>
	<td> 
		<b>{{ form_label(form.dateOfBirth, 'Date of Birth') }}</b>
	</td>
	<td> 
		{{ form_widget(form.dateOfBirth) }}
		<span style = "display: inline-block;"> 
			{{ form_errors(form.dateOfBirth) }} 
		</span> 
	</td>
</tr>
<tr>
	<td> 
		<b>{{ form_label(form.gender, 'Gender') }}</b>
	</td>
	<td> 
		{{ form_widget(form.gender) }}
		<span style = "display: inline-block;"> 
		 	{{ form_errors(form.gender) }} 
		</span> 
	</td>
</tr>
<tr>
	<td> 
		<b>{{ form_label(form.emailId,'Email Ids') }} </b>
	</td>
	<td>
		<ul id="email-fields-list" data-prototype="{{ form_widget(form.emailId.vars.prototype)|e }}">
		{% for emailField in form.emailId %}
			<li style = 'list-style-type:none'>
				{{ form_widget(emailField) }}
			</li>
			<span style = "display: inline-block;">
					{{ form_errors(emailField) }}
			</span>
		{% endfor %}
		</ul> 
	</td>
</tr>
<tr>
	<td colspan = 2>  
		<input type = "button" id = "add-email-field" value = "+" onclick = "addField('email-fields-list')" >
	
	</td>	
</tr>
<tr>
	<td> 
		<b>{{ form_label(form.contactNumber,'Mobile Number') }} </b>
	</td>
	<td> 
		<ul id="mobile-fields-list" data-prototype="{{ form_widget(form.contactNumber.vars.prototype)|e }}">
		{% for mobileField in form.contactNumber %}
			<li style = 'list-style-type:none'>
				{{ form_widget(mobileField) }}
				<span style = "list-style-type: none; display: inline-block;"> 
					{{ form_errors(mobileField) }} 
				</span>
			</li>
		{% endfor %}
		</ul> 
	</td>
</tr>
<tr>
	<td colspan = 2> 
		<input type = "button" id = "add-mobileno-field" value = "+" onclick = "addField('mobile-fields-list')">
		
	</td>	
</tr>
<tr>
	<td> 
		<b>{{ form_label(form.bloodGroup, 'Blood Group') }}</b>
	</td>
	<td> 
		{{ form_widget(form.bloodGroup) }} 
		<span style = "list-style-type: none; display: inline-block;"> 
			{{ form_errors(form.bloodGroup) }}
		</span> 
	</td>
</tr>
<tr>
	<td> 
		<b>{{ form_label(form.interest,'Area of Interest') }} </b>
	</td>
	<td> 
		<ul id="interest-fields-list" data-prototype="{{ form_widget(form.interest.vars.prototype)|e }}">
		{% for interestField in form.interest %}
			<li style = 'list-style-type:none'>
				{{ form_widget(interestField) }}
				<span style = "list-style-type: none; display: inline-block;"> 
					{{ form_errors(interestField) }} 
				</span>
			</li>
		{% endfor %}
		</ul> 
	</td>
</tr>
<tr>
	<td colspan = 2> 
		<input type = "button" id = "add-interest-field" value = "+" onclick = "addField('interest-fields-list')" >
	
	</td>	
</tr>
<tr>
	<td> 
		<b>{{ form_label(form.graduationType,'Graduation') }} </b>
	</td>
	<td> 
		<ul id="graduation-fields-list" data-prototype="{{ form_widget(form.graduationType.vars.prototype)|e }}">
		{% for graduationField in form.graduationType %}
			<li style = 'list-style-type:none'>
				{{ form_widget(graduationField) }}
				<span style = "list-style-type: none; display: inline-block;"> 
					{{ form_errors(graduationField) }} 
				</span>
			</li>
		{% endfor %}
		</ul> 
	</td>
</tr>
<tr>
	<td colspan = 2> 
		<input type = "button" id = "add-graduation-field" value = "+" onclick = "addField('graduation-fields-list' )" >
	
	</td>	
</tr>
</table>
{{ form_end(form) }}


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

{% block javascripts %}
	{% javascripts'@UserBundle/Resources/public/js/newuser.js' %}
		<script src="{{ asset_url }}"> </script>
	{% endjavascripts %}
{% endblock %}


<script type="text/javascript">
$(document).ready(function() {
	$('.js-datepicker').datepicker({
			dateFormat: "yy/mm/dd",
		changeMonth: true,
		changeYear: true,
		yearRange: "-50:+10"

	});
});
</script>
