{{ form_start(form) }} 

	{{ form_errors(form) }}

	<div>
	    {{ form_label(form.first_name,'First Name') }}
	    {{ form_errors(form.first_name) }}
	    {{ form_widget(form.first_name) }}
	</div>

	<div>
	    {{ form_label(form.last_name, 'Last Name ') }}
	    {{ form_errors(form.last_name) }}
	    {{ form_widget(form.last_name) }}
	</div>

	<div>
	    {{ form_label(form.date_of_birth, 'Date of Birth') }}
	    {{ form_errors(form.date_of_birth) }}
	    {{ form_widget(form.date_of_birth) }}
	    {#{form.date_of_birth.vars.label}#}

	</div>

	<div>
	    {{ form_label(form.gender, 'Gender') }}
	    {{ form_errors(form.gender) }}
	    {{ form_widget(form.gender) }}
	    {#{form.gender.vars.label}#}
	</div>

	<div>
		{{form_label(form.email_id,'Email Ids')}}
		{{form_errors(form.email_id)}}
		<ul id="email-fields-list" data-prototype="{{ form_widget(form.email_id.vars.prototype)|e }}">

		{% for emailField in form.email_id %}
		    <li style = 'list-style-type:none'>
		        {{ form_errors(emailField) }}
		        {{ form_widget(emailField) }}
		    </li>
		{% endfor %}
		</ul>
		<input type = "button" id = "add-another-email" value = "+" >
		<input type = "button" id = "remove-another-email" value = "-" >		
    </div>

    <div>
		{{form_label(form.mobile_no,'Mobile Number')}}
		{{form_errors(form.mobile_no)}}
		<ul id="mobile-fields-list" data-prototype="{{ form_widget(form.mobile_no.vars.prototype)|e }}">

		{% for mobileField in form.mobile_no %}
		    <li style = 'list-style-type:none'>
		        {{ form_errors(mobileField) }}
		        {{ form_widget(mobileField) }}
		    </li>
		{% endfor %}
		</ul>
		<input type = "button" id = "add-another-mobile-no" value = "+" >
		<input type = "button" id = "remove-another-mobile-no" value = "-" >
    </div>

    <div>
	    {{ form_label(form.bloodgroup, 'Blood Group') }}
	    {{ form_errors(form.bloodgroup) }}
	    {{ form_widget(form.bloodgroup) }}
	    {#{form.bloodgroup.vars.label}#}
	</div>


	
{{ form_end(form) }}

 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript">

    var emailCount = '{{ form.email_id|length }}';
    var mobileCount = '{{ form.mobile_no|length  }}';

    $(document).ready(function() {
        $('#add-another-email').click(function(e) {
            e.preventDefault();

            var emailList = $('#email-fields-list');
            console.log(emailList);

            var newWidget = emailList.attr('data-prototype');
            console.log(newWidget);
           
            newWidget = newWidget.replace(/__name__/g, emailCount);
            emailCount++;
            console.log(newWidget);

            var new_id = $("ul:last-child")
            console.log(new_id);

            var newLi = $('<li style= "list-style-type:none"></li>').html(newWidget);
            newLi.appendTo(emailList);
        });


        $('#add-another-mobile-no').click(function(e) {
            e.preventDefault();

            var mobileList = $('#mobile-fields-list');
            console.log(mobileList);

            var newWidget = mobileList.attr('data-prototype');
           
            newWidget = newWidget.replace(/__name__/g, mobileCount);
            mobileCount++;

            var newLi = $('<li style= "list-style-type:none"></li>').html(newWidget);
            newLi.appendTo(mobileList);
        });


        $('#remove-another-mobile-no').click(function(e) {
            e.preventDefault();

            var mobileList = $('#mobile-fields-list');
           alert(mobileList.val());
            var newWidget = mobileList.attr('data-prototype');
            console.log(newWidget);

            newWidget = newWidget.replace(/__name__/g, mobileCount);
            console.log(newWidget);

            mobileCount++;
            console.log(mobileCount);

        });

    })
</script>